NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_CURRENCY_FALLBACK=brl
MELHOR_ENVIO_TOKEN=
MELHOR_ENVIO_BASE_URL=https://sandbox.melhorenvio.com.br/api/v2
MELHOR_ENVIO_FROM_POSTAL_CODE=
MELHOR_ENVIO_FROM_CITY=Franca
MELHOR_ENVIO_FROM_STATE=SP
MELHOR_ENVIO_FROM_COUNTRY=BR
ENOTAS_API_KEY=
ENOTAS_COMPANY_ID=
ENOTAS_BASE_URL=https://api.enotasgw.com.br/v1
ENOTAS_ENVIRONMENT=homologation
